In [2]:
import pandas as pd

movies = pd.read_csv(r'C:\Users\Emil\Desktop\movie recomender system\movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [ ]:
import re

def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title


movies['clean_title'] = movies['title'].apply(clean_title)
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [7]:
#creating tf idf matrix
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1, 2))

tfidf = vectorizer.fit_transform(movies['clean_title'])

c:\Users\Emil\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [16]:
#computing cosine similarity
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -10)[-10:]
    results = movies.iloc[indices][::-1]
    return results

In [17]:
#building interactive search box
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='toy story',
    description='Movie Title:',
    disabled=False,
)

movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data['new']
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')
display(movie_input, movie_list)

Text(value='toy story', description='Movie Title:')

Output()

In [21]:
#finding users who liked the same movie

ratings = pd.read_csv(r'C:\Users\Emil\Desktop\movie recomender system\ratings.csv')
ratings.dtypes

          userId  movieId  rating   timestamp
5101          36        1     5.0   857131378
5105          36       34     5.0   834413787
5111          36      110     5.0   834412999
5114          36      150     5.0   839928587
5127          36      260     5.0   857131062
...          ...      ...     ...         ...
24998854  162533    60069     4.5  1280919889
24998861  162533    67997     4.5  1280920712
24998876  162533    78499     4.5  1281405901
24998884  162533    81591     4.5  1297289876
24998888  162533    88129     4.5  1329514139

[1358326 rows x 4 columns]

In [24]:
movie_id = 1
similar_users = ratings[(ratings['movieId'] == movie_id) & (ratings['rating'] > 4)]["userId"].unique()
similar_users

similar_users_recs = ratings[ratings['userId'].isin(similar_users) & (ratings['rating'] > 4)]["movieId"]
similar_users_recs

5101            1
5105           34
5111          110
5114          150
5127          260
            ...
24998854    60069
24998861    67997
24998876    78499
24998884    81591
24998888    88129
Name: movieId, Length: 1358326, dtype: int64

In [ ]:
#look for movies that 10% of the users who are similar to us also liked

similar_users_recs = similar_users_recs.value_counts() / len(similar_users) 
similar_users_recs = similar_users_recs[similar_users_recs > .1]
similar_users_recs

1        1.000000
318      0.445607
260      0.403770
356      0.370215
296      0.367295
           ...
953      0.103053
551      0.101195
1222     0.100876
745      0.100345
48780    0.100186
Name: movieId, Length: 113, dtype: float64

In [34]:
#finding how much all users liked the movies that similar users liked

all_users = ratings[ratings['movieId'].isin(similar_users_recs.index) & (ratings['rating'] > 4)]

all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
all_users_recs

318      0.342220
296      0.284674
2571     0.244033
356      0.235266
593      0.225909
           ...
551      0.040918
50872    0.039111
745      0.037031
78499    0.035131
2355     0.025091
Name: movieId, Length: 113, dtype: float64

In [36]:
#creating a recommendation score

rec_percentages = pd.concat([similar_users_recs, all_users_recs], axis=1)
rec_percentages.columns = ["similar", "all"]
rec_percentages

        similar       all
1      1.000000  0.124728
318    0.445607  0.342220
260    0.403770  0.222207
356    0.370215  0.235266
296    0.367295  0.284674
...         ...       ...
953    0.103053  0.045792
551    0.101195  0.040918
1222   0.100876  0.066877
745    0.100345  0.037031
48780  0.100186  0.068314

[113 rows x 2 columns]

In [38]:
rec_percentages['score'] = rec_percentages['similar'] / rec_percentages['all']
rec_percentages = rec_percentages.sort_values('score', ascending=False)
rec_percentages.head(10).merge(movies, left_index=True, right_on='movieId')

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.124728,8.017414,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.280648,0.053706,5.225654,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.110539,0.025091,4.405452,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.152960,0.035131,4.354038,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
4780,0.235147,0.070811,3.320783,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
580,0.216618,0.067513,3.208539,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
6258,0.228139,0.072268,3.156862,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
587,0.179400,0.059977,2.991150,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
8246,0.203504,0.068453,2.972889,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,Incredibles The 2004
359,0.253411,0.085764,2.954762,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994

In [40]:
#building the recommendation function
def find_similar_movies(movie_id, ratings, movies):
    similar_users = ratings[(ratings['movieId'] == movie_id) & (ratings['rating'] > 4)]["userId"].unique()
    similar_users_recs = ratings[ratings['userId'].isin(similar_users) & (ratings['rating'] > 4)]["movieId"]
    similar_users_recs = similar_users_recs.value_counts() / len(similar_users)
    similar_users_recs = similar_users_recs[similar_users_recs > .10]
    
    all_users = ratings[ratings['movieId'].isin(similar_users_recs.index) & (ratings['rating'] > 4)]
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    
    rec_percentages = pd.concat([similar_users_recs, all_users_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    rec_percentages['score'] = rec_percentages['similar'] / rec_percentages['all']
    rec_percentages = rec_percentages.sort_values('score', ascending=False)
    
    return rec_percentages.head(10).merge(movies, left_index=True, right_on='movieId')[['score', 'title', 'genres']]

In [ ]:
#creating an interactive recommendation widget

movie_name_input = widgets.Text(
    value='toy story',
    description='Movie Title:',
    disabled=False,
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data['new']
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]['movieId']
            display(find_similar_movies(movie_id, ratings, movies))

movie_name_input.observe(on_type, names='value')
display(movie_name_input, recommendation_list)

Text(value='toy story', description='Movie Title:')

Output()